/* .line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
} */

.line {
  display: block;
  transform: translateY(0);
}