.menu-toggle {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  background: rgba(242, 237, 230, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 8rem;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: right;
  cursor: pointer;
  z-index: 1000;
}

.menu-copy {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: var(--base-450);
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.menu-copy p {
  color: var(--base-500);
  font-family: "Manrope", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 0.9;
}

.menu-toggle-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: var(--base-450);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 11px;
  height: 1.3px;
  background: var(--base-100);
  transition-property: transform;
  transition: all 250ms ease-out;
}

.menu-bar[data-position="top"] {
  transform: translateY(-2px);
}

.menu-bar[data-position="bottom"] {
  transform: translateY(2px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}
